body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url(Assets/background.jpg);
  background-repeat: no repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

h1 {
  font-size: 45px;
}

h2 {
  font-weight: bolder;
  font-size: 30px;
}

p {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bolder;
}

button {
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  margin-top: 170px;
  background-color: antiquewhite;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}

button:hover {
  cursor: pointer;
}

.Container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Advice {
  margin-top: 30px;
  background-color: rgba(229, 230, 199, 0.841);
  width: 700px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

@media all and (max-width: 800px) {

  button {
    color: black;
  }
}
